* {
  margin: 0px;
  padding: 0px;
  font-family: "Merriweather", serif;
  font-size: 14px;
}

table {
  border-collapse: collapse;
}

body {
  font-family: "Merriweather", serif;
}
.head {
  background-color: rgb(90, 90, 90);
  height: 180px;
}

.name {
  background-color: orange;
  margin: 0px;
  margin-left: 25%;
  margin-right:25%;
  padding: 0px;
  text-align: center;
  border-radius: 5px;
  position: relative;
  bottom: 38px;
}

.contact {
  text-align: center;
  margin: 1%;
}

.tb1,
.tbLeft,
.tbRight {
  width: 100%;
}

.tdLeft {
  width: 50%;
  margin: 0px 20px 20px 20px;
}

.tdRight {
  width: 50%;
  margin: 0px 20px 20px 20px;
}

.material-icons {
  position: relative;
  top: 3px;
  border: 5px dotted orange;
  border-radius: 50%;
}

.tab2 {
  margin-left: 2em;
}

.tab3 {
  margin-left: 3em;
}

.grad1 {
  height: 10px;
  display: inline-block;
  border: 1px hidden transparent;
  border-radius: 100px;
  background-image: linear-gradient(
    to right,
    rgb(251, 255, 0),
    rgba(255, 0, 0, 0.04)
  );
}

.photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 1px;
  border: 5px dotted orange;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  top: 10px;
}

.whiteBar {
  height: 25px;
  width: 100%;
  background-color: white;
}
.nameBar {
  position: relative;
  bottom: 14%;
}
